{% extends 'layouts/auth.html' %}


{% block title %}Парольді қалпына келтіру | OQU{% endblock title %}


{% block auth_content %}
<div class="grid gap-8">
    <div class="text-center">
        <h1 class="text-xl md:text-2xl font-medium">Парольді қалпына келтіру</h1>
        <span class="text-neutral-500">Тіркелген электронды поштаға хабарлама жіберіледі</span>
    </div>
    
    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <div id="email">
            <label for="email" class="block mb-2 text-sm font-medium">
                Электронды пошта
            </label>
            <input 
                type="email"
                name="email"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5"
                placeholder="example@mail.com" 
                required 
            />
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="text-sm text-red-800">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    
        <button 
            type="submit"
            class="w-full px-3 py-2 font-medium text-center text-white bg-neutral-950 rounded-lg transition-all hover:bg-neutral-800 focus:ring-2 focus:outline-none focus:ring-neutral-500">
        
            Жіберу
        </button>
    </form>

    <div class="text-center">
        <a href="{% url 'login' %}" class="inline-flex items-center gap-1 font-medium hover:underline">
            <span>Кері қайту</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right-icon lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>
</div>
{% endblock auth_content %}