{% extends 'layouts/auth.html' %}


{% block title %}
    Парольді қалпына келтіру
{% endblock title %}


{% block auth_content %}
<div class="grid gap-8">
    <div class="text-center">
        <h1 class="text-xl md:text-2xl font-medium">Уайымдамаңыз!</h1>
        <span class="text-neutral-500">Тіркелген электронды поштаға хабарлама жіберілді</span>
    </div>
    
    <div class="text-center">
        <a href="{% url 'login' %}" class="inline-flex items-center gap-1 font-medium hover:underline">
            <span>Кері қайту</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-right-icon lucide-arrow-right">
                <path d="M5 12h14" />
                <path d="m12 5 7 7-7 7" />
            </svg>
        </a>
    </div>
</div>
{% endblock auth_content %}
