{% extends 'layouts/auth.html' %}


{% block title %}Жаңа құпиясөз енгізу | OQU{% endblock title %}


{% block auth_content %}
<div class="grid gap-8">
    <div class="text-center">
        <h1 class="text-xl md:text-2xl font-medium">Жаңа құпиясөз енгізу</h1>
        <span class="text-neutral-500"></span>
    </div>
    
    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <div>
            <label for="new_password1" class="block mb-2 text-sm font-medium">
                Жаңа пароль
            </label>
            <input 
                type="password"
                id="new_password1"
                name="new_password1"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5"
                required 
            />
            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <p class="text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        
        <div>
            <label for="new_password2" class="block mb-2 text-sm font-medium">
                Жаңа парольді қайталау
            </label>
            <input 
                type="password"
                id="new_password2"
                name="new_password2"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5"
                required 
            />
            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <p class="text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    
        <button 
            type="submit"
            class="w-full px-3 py-2 font-medium text-center text-white bg-neutral-950 rounded-lg transition-all hover:bg-neutral-800 focus:ring-2 focus:outline-none focus:ring-neutral-500"
        >
            Сақтау
        </button>
    </form>
</div>
{% endblock auth_content %}
