{% extends 'layouts/workspace.html' %}
{% load static %}


{% block workspace_content %}
<div class="">
    <div class="hidden lg:block pb-4 border-b border-neutral-200">
        <h1 class="text-2xl font-medium">Аккаунт баптаулары</h1>
        <span class="text-neutral-500">Пайдаланушының персоналды мәліметтері мен жүйелік баптаулары</span>
    </div>

    <ul class="flex lg:hidden w-full overflow-x-auto -mb-px font-medium text-center">
        <li class="whitespace-nowrap">
            <a 
                href="{% url 'profile' %}"
                class="block py-2 px-4 text-medium border-b-2 {% if request.path == '/account/profile/' %}border-b-neutral-950 bg-neutral-100 hover:bg-neutral-100{% else %}border-b-transparent hover:bg-neutral-100{% endif %}"
            >
                Профиль
            </a>
        </li>
        <li>
            <a 
                href="{% url 'account' %}"
                class="block py-2 px-4 text-medium border-b-2 {% if request.path == '/account/account/' %}border-b-neutral-950 bg-neutral-100 hover:bg-neutral-100{% else %}border-b-transparent hover:bg-neutral-100{% endif %}"
            >
                Аккаунт
            </a>
        </li>
        <li>
            <a 
                href="{% url 'password_change' %}"
                class="block py-2 px-4 text-medium border-b-2 {% if request.path == '/account/password_change/' %}border-b-neutral-950 bg-neutral-100 hover:bg-neutral-100{% else %}border-b-transparent hover:bg-neutral-100{% endif %}"
            >
                Қауіпсіздік
            </a>
        </li>
        <li>
            <a 
                href="{% url 'settings' %}"
                class="block py-2 px-4 text-medium border-b-2 {% if request.path == '/account/settings/' %}border-b-neutral-950 bg-neutral-100 hover:bg-neutral-100{% else %}border-b-transparent hover:bg-neutral-100{% endif %}"
            >
                Баптаулар
            </a>
        </li>
    </ul>

    <div class="flex items-start gap-8 pt-4">
        <ul class="hidden lg:grid w-64 gap-1">
            <li>
                <a 
                    href="{% url 'profile' %}"
                    class="block py-2 px-4 text-medium rounded-md hover:underline hover:bg-neutral-100 {% if request.path == '/account/profile/' %}bg-neutral-100{% endif %}"
                >
                    Профиль
                </a>
            </li>
            <li>
                <a 
                    href="{% url 'account' %}"
                    class="block py-2 px-4 text-medium rounded-md hover:underline hover:bg-neutral-100 {% if request.path == '/account/account/' %}bg-neutral-100{% endif %}"
                >
                    Аккаунт
                </a>
            </li>
            <li>
                <a 
                    href="{% url 'password_change' %}"
                    class="block py-2 px-4 text-medium rounded-md hover:underline hover:bg-neutral-100 {% if request.path == '/account/password_change/' %}bg-neutral-100{% endif %}"
                >
                    Қауіпсіздік
                </a>
            </li>
            <li>
                <a 
                    href="{% url 'settings' %}"
                    class="block py-2 px-4 text-medium rounded-md hover:underline hover:bg-neutral-100 {% if request.path == '/account/settings/' %}bg-neutral-100{% endif %}"
                >
                    Баптаулар
                </a>
            </li>
        </ul>
    
        <div class="flex-1">
            {% block account_content %}
            {% endblock account_content %}
        </div>
        
    </div>
</div>
{% endblock workspace_content %}