{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="w-full h-screen overflow-auto flex justify-center py-8 px-4 sm:px-0 sm:py-16 items-start bg-neutral-50">
        <div class="max-w-md w-full grid gap-4">
            <div>
                <a 
                    href="{% url 'workspace' %}"
                    class="w-32 mx-auto overflow-hidden block"    
                >
                    <img src="{% static 'images/full-logo-white.svg' %}" alt="OQU platforms logo" class="w-full">
                </a>
            </div>

            <div class="relative">
                {% block auth_content %}
                {% endblock auth_content %}
            </div>
        </div>
    </div>
{% endblock content %}