{% extends 'src/layouts/workspace.html' %}
{% load static %}


{% block title %}{{ course.name }} - OQU platforms{% endblock title %}


{% block workspace_content %}
<div class="flex items-start flex-col-reverse lg:flex-row gap-4">
    <div class="flex-1 grid gap-4">
        <div class="grid gap-8 px-4">
            <div class="grid gap-4">
                <h1 class="text-2xl font-semibold">{{ course.name }}</h1>
                <span class="text-zinc-500">{{ course.about }}</span>
            </div>

            <div class="flex items-center gap-8 w-full overflow-y-auto">
                <div class="flex items-center gap-2 whitespace-nowrap">
                    <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13.5 8H4m4 6h8m0 0-2-2m2 2-2 2M4 6v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z"/>
                    </svg>
                    <span class="text-zinc-500">{{ course.sub_category }}</span>
                </div>

                <div class="flex items-center gap-2 whitespace-nowrap">
                    <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="1" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    <span class="text-zinc-500">{{ course.user_courses.count }} жазылушы</span>
                </div>

                <div class="flex items-center gap-2 whitespace-nowrap">
                    <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15"/>
                    </svg>
                    <span class="text-zinc-500">
                        {% for ln in course.languages.all %}
                            {{ ln.name }}
                        {% endfor %}
                    </span>
                </div>

                <div class="flex items-center gap-2 whitespace-nowrap">
                    <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
                    </svg>
                      
                    <span class="text-zinc-500">
                        {{ course.last_update }}
                    </span>
                </div>
            </div>
        </div>

        <div class="border-b border-zinc-200">
            <ul 
                class="flex flex-wrap -mb-px font-medium text-center" 
                id="course-tab" 
                data-tabs-toggle="#course-tab-content" 
                data-tabs-active-classes="text-zinc-900 hover:text-zinc-900 border-zinc-900" 
                data-tabs-inactive-classes="text-zinc-500 hover:text-zinc-600 border-zinc-100 hover:border-zinc-300" 
                role="tablist"
            >
                <li class="me-2" role="presentation">
                    <button 
                        class="inline-block p-4 border-b-2 rounded-t-lg" 
                        id="contents-tab" 
                        data-tabs-target="#contents" 
                        type="button" role="tab" aria-controls="contents" aria-selected="false"
                    >
                        Курс жоспары
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button 
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-zinc-600 hover:border-zinc-300" 
                        id="description-tab" 
                        data-tabs-target="#description" 
                        type="button" role="tab" aria-controls="description" aria-selected="false"
                    >
                        Сипаттамасы
                    </button>
                </li>
            </ul>
        </div>
        <div id="course-tab-content">
            <!-- Contents -->
            <div class="hidden" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                <div class="px-4">
                    <div 
                        id="accordion-flush" 
                        data-accordion="collapse"
                        data-active-classes="bg-white text-zinc-900"
                        data-inactive-classes="text-zinc-500"
                    >
                        {% for chapter in course.chapters.all %}
                            <div id="accordion-chapter-heading-{{ chapter.id }}">
                                <button 
                                    type="button"
                                    class="flex items-center justify-between w-full p-4 font-medium rtl:text-right text-zinc-500 border-b border-zinc-200"
                                    data-accordion-target="#accordion-chapter-body-{{ chapter.id }}" 
                                    aria-expanded="true" 
                                    aria-controls="accordion-chapter-{{ chapter.id }}"
                                >
                                    <div class="flex text-start items-center gap-4">
                                        <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8H3Z"/>
                                        </svg>
                                        <span>{{ chapter.name }}</span>
                                    </div>

                                    <svg 
                                        data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"
                                    >
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                                    </svg>
                                </button>
                            </div>
                            <div
                                id="accordion-chapter-body-{{ chapter.id }}" 
                                class="hidden p-4 bg-zinc-50" 
                                aria-labelledby="accordion-chapter-heading-{{ chapter.id }}"
                            >
                                {% for lesson in chapter.lessons.all %}
                                    <div class="flex justify-between p-4 mb-2 rounded-lg border bg-white">
                                        <div class="flex gap-4 items-center">
                                            <svg class="w-6 h-6 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19.2857 7V5.78571c0-.43393-.3482-.78571-.7778-.78571H6.06345c-.42955 0-.77777.35178-.77777.78571V16m0 0h-1c-.55229 0-1 .4477-1 1v1c0 .5523.44771 1 1 1h5m-4-3h4m7.00002-6v3c0 .5523-.4477 1-1 1h-3m8-3v8c0 .5523-.4477 1-1 1h-6c-.5523 0-1-.4477-1-1v-5.397c0-.2536.0963-.4977.2696-.683l2.434-2.603c.189-.2022.4535-.317.7304-.317h3.566c.5523 0 1 .4477 1 1Z"/>
                                            </svg>
                                            <h1 class="text-zinc-900 font-medium">{{ lesson.title }}</h1>
                                        </div>
                                        <div class="flex gap-2 items-center">
                                            <svg class="w-5 h-5 text-zinc-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>
                                            <span class="text-zinc-500">{{ lesson.duration }}:00 мин</span>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="flex justify-center">
                                        <div class="grid gap-2">
                                            <svg class="w-6 h-6 text-zinc-500 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19.2857 7V5.78571c0-.43393-.3482-.78571-.7778-.78571H6.06345c-.42955 0-.77777.35178-.77777.78571V16m0 0h-1c-.55229 0-1 .4477-1 1v1c0 .5523.44771 1 1 1h5m-4-3h4m7.00002-6v3c0 .5523-.4477 1-1 1h-3m8-3v8c0 .5523-.4477 1-1 1h-6c-.5523 0-1-.4477-1-1v-5.397c0-.2536.0963-.4977.2696-.683l2.434-2.603c.189-.2022.4535-.317.7304-.317h3.566c.5523 0 1 .4477 1 1Z"/>
                                            </svg>
                                            <span class="text-zinc-500">Әлі сабақтар салынбаған</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="hidden" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="p-4 text-zinc-500">
                    {{ course.description|safe }}
                </div>
            </div>
        </div>
    </div>

    <!-- Course price -->
    <div class="lg:max-w-sm w-full sticky top-16 grid gap-8">
        <div class="grid gap-4">
            <div class="aspect-video flex justify-center items-center bg-zinc-100 rounded-lg overflow-hidden">
                {% if course.poster %}
                    <img src="{{ course.poster.url }}" class="w-full" alt="{{ course.name }}">
                {% else %}
                    <div>
                        <svg class="w-20 h-20 text-zinc-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M20 14H4m6.5 3L8 20m5.5-3 2.5 3M4.88889 17H19.1111c.4909 0 .8889-.4157.8889-.9286V4.92857C20 4.41574 19.602 4 19.1111 4H4.88889C4.39797 4 4 4.41574 4 4.92857V16.0714c0 .5129.39797.9286.88889.9286ZM13 14v-3h4v3h-4Z"/>
                        </svg>
                    </div>
                {% endif %}
            </div>
    
            {% if course.id in user_course_ids %}
                <a 
                    href="{% url 'user_course_lesson' user_course.id first_user_chapter.id first_user_lesson.id %}"
                    class="text-sm text-center px-4 py-2 text-zinc-900 bg-white border border-zinc-200 transition-all focus:outline-none hover:bg-zinc-100 focus:ring-2 focus:ring-zinc-100 font-medium rounded-lg"
                >
                    Сабақты жалғастыру
                </a>
            {% else %}
                <form method="post" action="{% url 'create_user_course' course.pk %}">
                    {% csrf_token %}
                    <button 
                        type="submit"
                        class="w-full flex justify-center gap-2 px-4 py-2 text-sm font-medium text-white bg-zinc-950 rounded-lg transition-all hover:bg-zinc-800 focus:ring-2 focus:outline-none focus:ring-zinc-500"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M5 12h14m-7 7V5"/>
                        </svg>
                        <span>Курсқа жазылу</span>
                    </button>
                </form>
            {% endif %}
        </div>

        <div class="grid gap-4">
            <div>
                <h1 class="text-zinc-900 text-base font-semibold">{% if course.authors.count > 1 %}Авторлар{% else %}Автор{% endif %}</h1>
            </div>

            <div class="grid gap-2">
                {% for author in course.authors.all %}
                    <a href="#" class="flex items-center gap-2 border border-zinc-200 rounded-lg p-4 transition-all hover:bg-zinc-50">
                        {% if author.avatar %}
                            <img src="{{ author.avatar.url }}" alt="Profile Picture" class="w-12 h-12 rounded-full">
                        {% else %}
                            <div class="w-12 h-12 rounded-full bg-zinc-100 flex items-center justify-center text-zinc-900 text-2xl">
                                {{ author.first_name|first|upper }}{{ author.last_name|first|upper }}
                            </div>
                        {% endif %}
                        
                        <div class="grid">
                            <h1 class="text-base font-medium">{{ author.first_name }} {{ author.last_name }}</h1>
                            <span class="text-zinc-500">FullStack WEB developer</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock workspace_content %}