{% extends 'layouts/course.html' %}
{% load static %}


{% block title %}{{ user_lesson.lesson.title }} | OQU{% endblock title %}


{% block course_content %}
<div class="relative">
    <!-- Lesson start -->
    <!-- ============================================================================================================================================ -->
    {% if user_lesson.status == 'no-started' %}
        {% include 'components/user_course/lesson_start.html'  %}
    
    <!-- Lesson content -->
    <!-- ============================================================================================================================================ -->
    {% elif user_lesson.status == 'in-progress' %}
        <div class="grid gap-4">
            <!-- Lesson stepper -->
            {% include 'components/user_course/stepper.html' %}

            <!-- Content -->
            {% if section == 'text' and user_text %}
                {% include 'components/user_course/lesson_text.html'  %}
            {% elif section == 'video' and user_video %}
                {% include 'components/user_course/lesson_video.html'  %}
            {% elif section == 'test' and user_test %}
                {% include 'components/user_course/lesson_test.html'  %}
            {% endif %}
        </div>

    <!-- Lesson finish -->
    <!-- ============================================================================================================================================ -->
    {% else %}
        {% include 'components/user_course/lesson_start.html'  %}
    {% endif %}
</div>
{% endblock course_content %}
