<!-- Lesson start -->
<!-- ============================================================================================================================================ -->
<div class="max-w-xl w-full mx-auto py-16 grid gap-8">
    <!-- Lesson content -->
    <div class="grid gap-4">
        <div class="flex gap-4 items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-box-icon lucide-file-box">
                <path d="M14.5 22H18a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v4" />
                <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                <path
                    d="M3 13.1a2 2 0 0 0-1 1.76v3.24a2 2 0 0 0 .97 1.78L6 21.7a2 2 0 0 0 2.03.01L11 19.9a2 2 0 0 0 1-1.76V14.9a2 2 0 0 0-.97-1.78L8 11.3a2 2 0 0 0-2.03-.01Z" />
                <path d="M7 17v5" />
                <path d="M11.7 14.2 7 17l-4.7-2.8" />
            </svg>
            <h1 class="text-2xl font-medium">{{ user_lesson.lesson.title }}</h1>

            {% if user_lesson.is_completed %}
                <svg class="w-5 h-5 text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                </svg>
            {% endif %}
        </div>

        <div class="flex items-center justify-center">
            <div class="flex items-center gap-2 px-4 text-neutral-500 border-r border-neutral-200">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box-icon lucide-box">
                    <path
                        d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
                    <path d="m3.3 7 8.7 5 8.7-5" />
                    <path d="M12 22V12" />
                </svg>
                <span>{{ user_lesson.lesson.course }}</span>
            </div>

            <div class="px-4 border-r border-neutral-200">
                {% if user_lesson.status == 'no-started' %}
                    <div class="flex items-center gap-2 bg-amber-100 rounded-lg px-2 py-1">
                        <span class="p-1 rounded-full bg-amber-600"></span>
                        <span class="text-amber-600 text-xs">{{ user_lesson.get_status_display }}</span>
                    </div>
                {% elif user_lesson.status == 'in-progress' %}
                    <div class="flex items-center gap-2 bg-blue-100 rounded-lg px-2 py-1">
                        <span class="p-1 rounded-full bg-blue-600"></span>
                        <span class="text-blue-600 text-xs">{{ user_lesson.get_status_display }}</span>
                    </div>
                {% else %}
                    <div class="flex items-center gap-2 bg-green-100 rounded-lg px-2 py-1">
                        <span class="p-1 rounded-full bg-green-600"></span>
                        <span class="text-green-600 text-xs">{{ user_lesson.get_status_display }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="px-4 border-r border-neutral-200">
                <div class="flex items-center gap-2 text-neutral-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock9-icon lucide-clock-9">
                        <path d="M12 6v6H8" />
                        <circle cx="12" cy="12" r="10" />
                    </svg>
                    <span>{{ user_lesson.lesson.duration }}мин</span>
                </div>
            </div>

            <div class="px-4">
                <div class="flex items-center gap-2 text-neutral-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-calendar-sync-icon lucide-calendar-sync">
                        <path d="M11 10v4h4" />
                        <path d="m11 14 1.535-1.605a5 5 0 0 1 8 1.5" />
                        <path d="M16 2v4" />
                        <path d="m21 18-1.535 1.605a5 5 0 0 1-8-1.5" />
                        <path d="M21 22v-4h-4" />
                        <path d="M21 8.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h4.3" />
                        <path d="M3 10h4" />
                        <path d="M8 2v4" />
                    </svg>
                    <span>{{ user_lesson.lesson.last_update }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Lesson controls -->
    <div class="flex justify-center gap-2">
        {% if prev_lesson %}
            <a
                href="{% url 'user_course_lesson' user_course.pk user_chapter.pk prev_lesson.pk %}" 
                class="flex items-center px-4 py-2 font-medium rounded-lg text-neutral-950 bg-white border border-neutral-200 transition-all focus:outline-none hover:bg-neutral-100 focus:ring-2 focus:ring-neutral-100"
            >
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m15 19-7-7 7-7"/>
                </svg>
                <span>Алдынғы сабақ</span>
            </a>
        {% endif %}

        {% if user_lesson.status == 'no-started' %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="start_lesson">
                <button
                    type="submit"
                    class="px-4 py-2 font-medium text-white bg-neutral-950 rounded-lg hover:bg-neutral-800 focus:ring-2 focus:outline-none focus:ring-neutral-500"
                >
                    <span>Сабақты бастау</span>
                </button>
            </form>
        {% elif user_lesson.status == 'in-progress' %}
            <a 
                href="{% url 'user_course_lesson' user_course.id user_chapter.id user_lesson.id %}" 
                class="px-4 py-2 font-medium text-white bg-neutral-950 rounded-lg transition-all hover:bg-neutral-800 focus:ring-2 focus:outline-none focus:ring-neutral-500"
            >
                <span>Жалғастыру</span>
            </a>
        {% endif %}
        
        {% if next_lesson %}
            {% if can_access_next %}
                <a 
                    href="{% url 'user_course_lesson' user_course.pk user_chapter.pk next_lesson.pk %}" 
                    class="flex items-center px-4 py-2 font-medium rounded-lg text-neutral-950 bg-white border border-neutral-200 transition-all focus:outline-none hover:bg-neutral-100 focus:ring-2 focus:ring-neutral-100"
                >
                    <span>Келесі сабақ</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m9 5 7 7-7 7"/>
                    </svg>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <!-- Lesson tab contents -->
    <div class="w-full">
        <div class="border-b border-neutral-200">
            <ul 
                class="flex flex-wrap -mb-px font-medium text-center" 
                id="lesson-tab" 
                data-tabs-toggle="#lesson-tab-content" 
                data-tabs-active-classes="text-neutral-950 hover:text-neutral-950 border-neutral-950" 
                data-tabs-inactive-classes="text-neutral-500 hover:text-neutral-600 border-neutral-100 hover:border-neutral-300" 
                role="tablist"
            >
                <!-- Progress -->
                {% if user_lesson.is_completed %}
                    <li class="me-2" role="presentation">
                        <button 
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-neutral-600 hover:border-neutral-300" 
                            id="progress-tab" 
                            data-tabs-target="#progress" 
                            type="button" role="tab" aria-controls="progress" aria-selected="false"
                        >
                            Статистика
                        </button>
                    </li>
                {% endif %}
                <!-- Description -->
                <li class="me-2" role="presentation">
                    <button 
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-neutral-600 hover:border-neutral-300" 
                        id="description-tab" 
                        data-tabs-target="#description" 
                        type="button" role="tab" aria-controls="description" aria-selected="false"
                    >
                        Сипаттамасы
                    </button>
                </li>
                <!-- Lesson plan -->
                <li class="me-2" role="presentation">
                    <button 
                        class="inline-block p-4 border-b-2 rounded-t-lg" 
                        id="contents-tab" 
                        data-tabs-target="#contents" 
                        type="button" role="tab" aria-controls="contents" aria-selected="false"
                    >
                        Сабақ жоспары
                    </button>
                </li>
                <!-- Lesson docs -->
                <li class="me-2" role="presentation">
                    <button 
                        class="inline-block p-4 border-b-2 rounded-t-lg" 
                        id="docs-tab" 
                        data-tabs-target="#docs" 
                        type="button" role="tab" aria-controls="docs" aria-selected="false"
                    >
                        Материалдар
                    </button>
                </li>
            </ul>
        </div>
        <!-- ============================================================================================================================================ -->
        <div id="lesson-tab-content">
            <!-- Progress -->
            {% if user_lesson.is_completed %}
                <div class="hidden" id="progress" role="tabpanel" aria-labelledby="progress-tab">
                    <div class="px-4 py-8 flex gap-4 justify-center">
                        <div 
                            class="radial-progress text-2xl font-semibold bg-neutral-100 text-green-600" 
                            style="--value: {{ user_lesson.score|floatformat:0 }}; --size: 10rem;" 
                            aria-valuenow="{{ user_lesson.score }}" 
                            role="progressbar"
                        >
                            {{ user_lesson.score }}%
                        </div>
                        

                        <div class="grid gap-2">
                            <h1 class="text-base font-semibold">Нақты көрсеткіштер:</h1>

                            <div class="flex gap-2">
                                <span>Мәтінді түсіну бойынша: </span>
                                <span class="font-semibold">{{ user_text.score }}%</span>
                            </div>

                            <div class="flex gap-2">
                                <span>Бейнесабақ бойынша: </span>
                                <span class="font-semibold">{{ user_video.score }}%</span>
                            </div>

                            <div class="flex gap-2">
                                <span>Тест тапсыру бойынша: </span>
                                <span class="font-semibold">{{ user_test.score }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- Description -->
            <div class="hidden" id="description" role="tabpanel" aria-labelledby="description-tab">
                {% if user_lesson.lesson.about %} 
                    <div class="p-4 text-justify text-neutral-500">
                        {{ user_lesson.lesson.about|safe }}
                    </div>
                {% else %}
                    <div class="grid gap-2 text-center py-4">
                        <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M3 6.2V5h11v1.2M8 5v14m-3 0h6m2-6.8V11h8v1.2M17 11v8m-1.5 0h3"/>
                        </svg>
                        <span class="text-neutral-500">Сабақтың сипаттамасы жоқ</span>
                    </div>
                {% endif %}
            </div>

            <!-- Contents -->
            <div class="hidden" id="contents" role="tabpanel" aria-labelledby="contents-tab">
                <div class="p-4">
                    {% if user_lesson.lesson.text or user_lesson.lesson.video or user_lesson.lesson.test %}
                        {% if user_lesson.lesson.text %}
                            <div class="flex justify-between p-4 border-b border-neutral-200 bg-white">
                                <div class="flex gap-4 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-file-text-icon lucide-file-text">
                                        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                                        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                                        <path d="M10 9H8" />
                                        <path d="M16 13H8" />
                                        <path d="M16 17H8" />
                                    </svg>
                                    <h1 class="font-medium">Мәтіндік контент</h1>
                                </div>
                            </div>
                        {% endif %}

                        {% if user_lesson.lesson.video %}
                            <div class="flex justify-between p-4 border-b border-neutral-200 bg-white">
                                <div class="flex gap-4 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-file-video-icon lucide-file-video">
                                        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                                        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                                        <path d="m10 11 5 3-5 3v-6Z" />
                                    </svg>
                                    <h1 class="font-medium">Видео контент</h1>
                                </div>
                            </div>
                        {% endif %}

                        {% if user_lesson.lesson.test %}
                            <div class="flex justify-between p-4 border-b border-neutral-200 bg-white">
                                <div class="flex gap-4 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-list-todo-icon lucide-list-todo">
                                        <rect x="3" y="5" width="6" height="6" rx="1" />
                                        <path d="m3 17 2 2 4-4" />
                                        <path d="M13 6h8" />
                                        <path d="M13 12h8" />
                                        <path d="M13 18h8" />
                                    </svg>
                                    <h1 class="text-neutral-950 font-medium">Тест</h1>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="grid gap-2 text-center py-4">
                            <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linejoin="round" stroke-width="1" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                            </svg>
                            <span class="text-neutral-500">Сабақтың жоспары жоқ</span>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Lesson docs -->
            <div class="hidden" id="docs" role="tabpanel" aria-labelledby="docs-tab">
                <div class="p-4">
                    {% for doc in user_lesson.lesson.docs.all %}
                        <div class="flex justify-between p-4 mb-2 rounded-lg border border-neutral-200 bg-white">
                            <div class="flex gap-4 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-file-down-icon lucide-file-down">
                                    <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                                    <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                                    <path d="M12 18v-6" />
                                    <path d="m9 15 3 3 3-3" />
                                </svg>
                                <h1 class="font-medium">{{ doc.title }}</h1>
                            </div>

                            {% if user_lesson.is_completed %}
                                <a href="{{ doc.file.url }}" target="_blank" class="flex p-2 rounded-lg hover:bg-neutral-100" download="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download-icon lucide-download">
                                        <path d="M12 15V3" />
                                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                        <path d="m7 10 5 5 5-5" />
                                    </svg>
                                </a>
                            {% else %}
                                <div class="flex text-neutral-300" data-tooltip-target="tooltip-less_doc-{{ doc.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download-icon lucide-download">
                                        <path d="M12 15V3" />
                                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                        <path d="m7 10 5 5 5-5" />
                                    </svg>
                                </div>

                                <div 
                                    id="tooltip-less_doc-{{ doc.id }}" 
                                    role="tooltip" 
                                    class="absolute z-10 invisible inline-block px-3 py-2 font-medium text-white transition-opacity duration-300 bg-neutral-950 rounded-lg shadow-xs opacity-0 tooltip"
                                >
                                    Алдымен сабақты өтіп шығу қажет!
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <div class="grid gap-2 text-center py-4">
                            <svg class="w-5 h-5 mx-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linejoin="round" stroke-width="1" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                            </svg>
                            <span class="text-neutral-500">Сабақтың материалдары жоқ</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>