{% extends 'layouts/account.html' %}


{% block title %}Құпиясөзді өзгерту | OQU{% endblock title %}

{% block account_content %}
<div class="max-w-2xl w-full grid gap-4">
    <div class="border-b border-neutral-200 pb-4">
        <h1 class="text-xl lg:text-2xl font-medium">Құпиясөзді өзгерту</h1>
        <span class="text-zinc-500">Қауіпсіздік үшін құпиясөзді өзгерту формасы</span>
    </div>
   <form method="post" class="grid gap-4 lg:max-w-md">
        {% csrf_token %}

        <!-- Old password field -->
        <div class="relative">
            <label for="old_password" class="block mb-2 text-sm font-medium">
                Ескі пароль
            </label>
            <input 
                type="password" 
                id="old_password"
                name="old_password"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5 disabled:bg-neutral-100 disabled:text-neutral-500"
                required
            />
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    <p class="text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- New password1 field -->
        <div class="relative">
            <label for="new_password1" class="block mb-2 text-sm font-medium">
                Жаңа пароль
            </label>
            <input 
                type="password" 
                id="new_password1"
                name="new_password1"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5 disabled:bg-neutral-100 disabled:text-neutral-500"
                required
            />
            {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                    <p class="text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- New password2 field -->
        <div class="relative">
            <label for="new_password2" class="block mb-2 text-sm font-medium">
                Жаңа парольді қайталау
            </label>
            <input 
                type="password" 
                id="new_password2"
                name="new_password2"
                class="border border-neutral-300 text-sm rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5 disabled:bg-neutral-100 disabled:text-neutral-500"
                required
            />
            {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                    <p class="text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Submit -->
        <div class="relative">
            <button 
                type="submit"
                class="w-full lg:w-auto px-4 py-2 font-medium text-center text-white bg-neutral-950 rounded-lg transition-all hover:bg-neutral-800 focus:ring-2 focus:outline-none focus:ring-neutral-500"
            >
                Сақтау
            </button>
        </div>
   </form>
</div>
{% endblock account_content %}