{% extends 'layouts/account.html' %}
{% load i18n %}


{% block title %}Баптаулар | OQU{% endblock title %}


{% block account_content %}
<div class="max-w-2xl w-full grid gap-4">
    <div class="border-b border-neutral-200 pb-4">
        <h1 class="text-xl lg:text-2xl font-medium">Баптаулар</h1>
        <span class="text-neutral-500">Жүйе баптауларын орнату</span>
    </div>

    <!-- Switch languages -->
    <form action="{% url 'set_language' %}" method="post" class="grid lg:max-w-md">
        {% csrf_token %}
        <label for="languages" class="block mb-2 font-medium">Тілді таңдау</label>
        <select 
            id="languages" 
            name="language" 
            onchange="this.form.submit()" 
            class="bg-zinc-50 border border-zinc-300 text-sm text-neutral-950 rounded-lg focus:ring-neutral-950 focus:border-neutral-950 block w-full p-2.5"
        >
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                {{ language.name_local }}
              </option>
            {% endfor %}
        </select>
    </form>
</div>
{% endblock account_content %}